<ul class="nav navbar-nav">
    <li class="program-menu dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="glyphicon glyphicon-calendar"></i> <s>Programme</s> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#programme"><i class="glyphicon glyphicon-th"></i> Overview</a></li>
            <li><a tabindex="-1" href="#programme/add"><i class="glyphicon glyphicon-edit"></i> Add</a></li>
        </ul>
    </li>
	<li class="program-menu dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown">
			<i class="glyphicon glyphicon-calendar"></i> <s>Info-Screen</s> <b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li><a tabindex="-1" href="#info"><i class="glyphicon glyphicon-th"></i> Overview</a></li>
			<li><a tabindex="-1" href="#info/add"><i class="glyphicon glyphicon-edit"></i> Add</a></li>
		</ul>
	</li>
    <li class="reports-menu dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-tasks"></span> <s>Reports</s><b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#report"><i class="glyphicon glyphicon-th"></i> Overview</a></li>
            <li><a tabindex="-1" href="#report/shirts"><i class="glyphicon glyphicon-user"></i> Apparel</a></li>
            <li><a tabindex="-1" href="#report/tickets"><i class="glyphicon glyphicon-tags"></i> Tickets</a></li>
            <li><a tabindex="-1" href="#report/financial"><i class="glyphicon glyphicon-briefcase"></i> Financial</a>
            </li>
        </ul>
    </li>
    <li class="tickets-menu dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="glyphicon glyphicon-tags"></i> Tickets <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#tickets/list"><i class="glyphicon glyphicon-th"></i> Overview</a></li>
            <li><a tabindex="-1" href="#tickets/add"><i class="glyphicon glyphicon-edit"></i> Add</a></li>
            <li><a tabindex="-1" href="#tickets/import"><i class="glyphicon glyphicon-import"></i> Import</a></li>
        </ul>
    </li>
    <li>
        <a tabindex="-1" href="#tickets/claim"><i class="glyphicon glyphicon-check"></i> Ticket Claim</a>
    </li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <li class="user-menu dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
            <span class="avatar">
                <img height="30" width="30" src="https://www.gravatar.com/avatar/{{gravatar}}.jpg?s=30&amp;d=mm"/>
            </span>
            <span class="name">{{name}}</span>
        </a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#user/edit"><i class="glyphicon glyphicon-user"></i> Profile</a></li>
            <li><a tabindex="-1" href="#user/add"><i class="glyphicon glyphicon-edit"></i> Add User</a></li>
            <li><a tabindex="-1" href="#user/logout"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
        </ul>
    </li>
</ul>